@tailwind base;
@tailwind components;
@tailwind utilities;

.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-button {
  margin: 10px;
  padding: 5px 15px;
  background-color: #8bc34a; /* Green background for pixelated look */
  color: #fff; /* White text color */
  border: 2px solid #8bc34a; /* Green border */
  border-radius: 3px; /* Slight border radius */
  font-family: "Arial", sans-serif; /* Font style */
  font-size: 16px; /* Font size */
  cursor: pointer;
  text-transform: uppercase; /* Uppercase text */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Text shadow for depth */
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.image {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease;
}

.image.show {
  opacity: 1;
}

@keyframes slam {
  0% {
    transform: scale(0) rotate(13deg);
    opacity: 1;
  }
  50% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}

.image.slam {
  animation: slam 1.5s ease forwards;
}

@keyframes flyAway {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(100vw) rotate(45deg);
    opacity: 0;
  }
}

.image.fly {
  animation: flyAway 2s ease forwards;
}

.image-0 {
  left: 140px; /* Adjust the value to position newspaper1 to the left */
}

.image-1 {
  right: 150px; /* Adjust the value to position newspaper2 to the right */
}

.image-2 {
  left: 420px; /* Center newspaper3 */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
